/*FOOTER*/

.site-footer{
  background-color: #777;
  padding: 10px;
  text-align: left;
}
.site-footer h1{
  color: white;
}
.site-footer a{
  color: white;
  font-size: 18px;
}

.site-footer a:hover{
  color:#99CCCC;
  text-decoration: none;
}
/*Site footer widgets*/

.site-footer .footer-contact-form, .site-footer .recent-products, .site-footer .footer-nav {
  float: left;
  box-sizing: border-box;
}


/*Contact-form*/

.contact-form{
  text-align: left;
}
.contact-form .contact{
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}
.contact-form .contact:focus{
  background-color: #FFFF99;
}

.contact-form .contact-submit{
  padding: 5px 10px;
  border: none;


}
.contact-form .contact-submit:hover{
  background-color: #99cccc;
  color: white;
}



/* Footer Nav Menu */
.site-footer nav {
  float: left;
}

.site-footer nav ul li {
  float: none;

}


/* Footer contact form */

.contact-form{
  float: left;
}