/*
Theme Name: Project
Author: GeekHub
Version:1.0
Description: Now, none
*/

/*New grid 20%*/

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}



.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
/*New grid 20%*/

/* page form */
.contact-form-page{
    padding: 50px;
}
.contact-form-page .form-group{
    padding: 20px;
    font-size: 18px;
}

.contact-form-page .form-group input{
    margin-left: 20px;
}
.contact-form-page .button-default, .form-control{
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    user-select: none;
    padding: 1em 5em;
    outline: none;
    border-radius: 3px / 100%;
    background-image:
            linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
            linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
            linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
            linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
            linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
            linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.contact-form-page .button-default:hover{
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

/* news */
.news-content{
    text-align: center;
    margin: 0 auto;
    border-bottom: 2px solid #777674;
    margin-bottom: 20px;
    padding-top: 50px;
}
/*//.news-content:last-child{*/
/*//    border-bottom: none;*/
/*//}*/
.news-content h2{
    color: #212121;
    font-family: Tahoma, serif;
    text-transform: uppercase;
}
.more-link {
    margin: 0 auto;
    display: inline-block;
    color: green;
    font-weight: 700;
    line-height: 20px;
    padding: 12px 25px;
    border: 2px solid #777674;
    margin-top: 25px;
    margin-bottom: 25px;
    text-decoration: none;
}
.more-link:hover {
    color: #58c93a;
    border: 2px solid #58c93a;
}
.news-content h2:after {
    content: '';
    width: 100px;
    height: 1px;
    background: green;
    display: block;
    margin: 10px auto;
    margin-right: 26%;
}
.news-content .post-thumbnail-news{
    float: left;
}
.news-content .news-content{
    float: left;
}

.pagin {
    padding-left: 85%;
    padding-bottom: 20px;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    color: #878787;
    text-decoration: none; }

.navigation li {
    display: inline; }

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
    background-color: #e7e7e7;
    cursor: pointer;
    padding: 10px;
}

.navigation li a:hover,
.navigation li.active a {
    background-color: red;
    color: white;
}

/* dropdown menu */
/*#menu-primary{*/
    /*position: relative;*/
/*}*/
/*.sub-menu {*/
    /*display: none;*/
    /*position: absolute;*/
/*}*/

/*#menu-primary:hover .sub-menu {*/
    /*display: block;*/
    /*border: 1px solid white;*/
    /*background: #41A5F4;*/
    /*position: absolute;*/
    /*z-index: 99;*/
    /*width: 50%;*/

/*}*/
/*.sub-menu .menu-item a{*/
    /*display: block;*/
    /*background: yellow;*/
/*}*/


/* sidebar */
.sidebar{
    width: 25%;
    float: right;
}
.sidebar .most-popular-item li{
    list-style-type: none;
    margin-top: 10px;
}
.sidebar .most-popular-item a{
    display: block;
    color: #777674;;
    border: 1px solid #ccc;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
    font-weight: bold;
}
.sidebar .most-popular-item a:hover{
    background: #ccc;
    color: white;
}
.sidebar .most-popular-title{
    padding-left: 5%;
color: #4e6783;
}
.sidebar .money-item{
    padding-top: 50px;
    padding-left: 10%;
}
.sidebar .exchange-item{
    margin-top: 50px;

    border: 2px solid #ccc;
}
.sidebar .exchange-title{
    color: white;
    background: #4e6783;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/* social icons */
.social{
    padding-left: 32%;
}

.social li {
    display: inline-block;
    padding: 5px;
    padding-top: 20px;
}
.social a{
    display: block;
    padding:10px 12px;
    background: #777674;
    border-radius: 20px;
    color: white;
}
.social .fa-facebook {
    padding: 4px;
}
.social .fa-instagram{
    padding: 2px;
}
.social .fa-twitter{
    padding: 1px;
}


.home-product-title{
    padding: 5px;
    background: #777674;
    color: white;
}
.recent-post-item{
    margin-bottom: 35px;
    border: 1px solid #777674;
}


/*error-page*/
.error-page{
    font-size: 25px;
    font-weight: bold;
    background: url("images/404-page.jpg") no-repeat center;
    padding-bottom: 450px;
    text-align: center;
}

.home-news-sokial{
    float: right;
}
.home-page-video{
    float: left;
}

.main-part-slider{
    width: 77%;
    float: left;
}
.second-part-slider{
    display: block;
    position: relative;
    z-index: 99;
    width: 23%;
    float: right;
}
@media (max-width: 1080px){
    .main-part-slider{
      margin-left: 10%;
    }
}
/* ourdepartmen */

.our_services {
    margin-bottom: 100px;
    position: relative;
    border-top: 2px solid #eaeff3; }
.our_services .services_list {
    padding-left: 50px;
    margin-bottom: 7%;
    margin-top: 3%;
    position: relative;
    display: inline-block;
    float: left; }
.our_services .services_list p {
    line-height: 30px;
    margin-left: 15%;}
.our_services .services_list img {
    position: absolute;
    max-width: 150px;
    left: -30px;
    top: 0;
    padding: 10px; }
.our_services .services_list h2 {
    margin-top: 10px;
    margin-left: 15%;
    text-transform: uppercase; }
.main-title-department{
    text-align: center;
    padding-top: 20px;
}
/* our info */
.our-info-title{
    text-transform: uppercase;
    text-align: center;
    color: #212121;
    font-family: Tahoma, serif;
    margin-bottom: 20px;
    margin-top: 20px;
    border-bottom: 1px solid #388E3C;
    border-top: 1px solid #388E3C;
}
.thumbnail-our-info{
    text-align: center;
    max-width: 100%;
}
.our-info-content{
    text-align: justify;
}
.our-info .more-link{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #212121;
    font-family: Tahoma, serif;
    background: #4CAF50;
    text-decoration: none;
}
.our-info .more-link:hover{
    background: #388E3C;
    color: white;
}
.our-info .about-us-caption{
    margin-left: 29%;
}
.product-text-right{
    margin-top: -50px;
}
/*-----------------------------------------------*/
.accordion-head{
    color: #002850;
    font-size: 30px;
    font-weight: normal;
    padding: 45px 0 15px;
    cursor:pointer;
}
.accordion {
    border: 1px solid #ddd;
    margin: 10px 0;
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
}
.accordion a {
    display: block; text-decoration: none;
}
.accordion-head{
    border-top: 1px solid #ddd;
    color: #41A5F4;
font: 35px 'Verdana', sans-serif;
height: 50px;
margin: 0;
padding: 0;
text-indent: 10px;
}
.accordion-head:hover{
    color: #FDCD0B;
}
.accordion div {
    color: #555; font: 12px/18px 'Verdana', sans-serif;
    padding: 10px 10px;
}
.accordion .post-thumbnail {
    padding: 10px 0;
    text-align: center;
    margin: 10px 0; }

.accordion .post-thumbnail img {
    max-width: 350px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.accordion .post-thumbnail {
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;
    padding-right: 50%; }

.accordion .post-thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.accordion .read-more a{
    background: #41A5F4;
    color: white;
    padding: 3px;
    border-radius: 5px;
}
.accordion .read-more a:hover{
    color: #FDCD0B;
    text-decoration: none;
}
.accordion .product-excerpt{
    display: none;
}

.accordion .products-item{
    white-space: nowrap;
}

/* contact form 2 */

.contact-form2 p{
    margin-top: 3%;
    font-weight: bold;
}

.contact-form2 input{
    width: 100%;
    border: 2px solid #41A5F4;
    padding: 10px;
    
}
.contact-form2 .button input{
    width: 20%;
    background: #41A5F4;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
}
.contact-form2 .button input:hover{
    color: #FDCD0B;
    text-decoration: none;
}