/*Home page*/


/*FLEXSLIDER*/
div#flexslider1{
  width: 80%;
  float: left;
  border: none;
  padding: 0 5px;
}

@media (min-width: 320px)and (max-width: 767px){
  #flexslider1{
    width: 100%;
    float: none;
  }
}

#flexslider1 .flex-active-slide{
  position: relative;
}
#flexslider1 .slides a img{
  max-width: 740%;
  overflow: hidden;
  display: inline-block;
}





#flexslider1 .flex-active-slide .flex-caption  {
  position: absolute;
  bottom: 20%;
  left: 0;
}

#flexslider1 .flex-caption  {
  display: block;
  max-width: 100%;
  position: absolute;
  left:-9999px;
  padding: 20px 30%;
  background: rgba(153, 204,204,0.7);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
  z-index: 1000;
}


.flexslider2-title{
  text-align: center;
}

#flexslider2 .flex-caption{
  display: block;
  left:0;
  bottom:0;
  max-width: 100%;
  text-align: center;
  background: rgba(0, 0,0,0.7);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 16px;
  line-height: 18px;
}

/*FLEXSLIDER*/


/*Home recent posts*/

.home-recent-posts{
  width:20%;
  box-sizing: border-box;
  float: left;
}
.home-post-thumbnail img{
  width: 100%;
}
.home-product-excerpt{
  width: 80%;
}
/*Home recent posts*/

/*About Us*/
.about-us-caption{
  text-align: center;
  padding:100px 0;
}

ul.about-us-list{
  margin: 0 auto;
  width: 100%;
}
.about-us-list li{
  display:block;
  text-align: center;
}
@media (min-width: 32px)and (max-width: 767px){
  .about-us li:last-child{
    width: 100%;
  }
}

.about-us-title{
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  color:rgb(153, 204,204);
}
.about-us-list p.about-us-content{
  font-size: 12px;
  padding: 20px 0 ;

}
.about-us .fa{
  text-align: center;
  font-size: 48px;
  max-width: 110px;
  width: 100%;
  color: white;
  padding: 30px;
  background-color: #dddddd;
  border-radius: 70px;
}
.about-us .fa:hover{
  background-color: rgb(153, 204,204);
}



/*About Us*/
/*Home Page Video*/
.home-video{
  margin: 20px 0;
}
/*Home Page Video*/

/*Home page*/